<tr class="sf_admin_row_{%if loop.index %2 ==0%}0{%else%}1{%endif%}">
	<td><a href="/admin.php/es/page/edit/page_id/{{object.pageId}}">{{object.pageId}}</a></td>
	<td class="center">{{object.parentPageId|title}}</td>
	<td>{{object.name|title}}</td>
	<td class="image_list"><a alt="Telon" rel="lightbox" href="{{asset('uploads/background/'~ object.backgroundId ~'')}}">mostrar</a></td>
	<td class="image_list center"> {%if object.mediaId =='0'%}
	-
	{%else%} <img alt="ss2" src="{{asset('uploads/media/mini/'~ object.mediaId ~'')}}"> {%endif%} </td>
	<td style="background-color:{{object.themeId}};height: 73px"></td>
	<td> {%if object.published== 1%} 
		<img src="{{asset('sf/sf_admin/images/tick.png')}}" alt="Tick" style="display: block"> 
		<img src="{{asset('sf/sf_admin/images/close.png')}}" alt="Close" style="display: none"> 
		{%else%} 
		<img src="{{asset('sf/sf_admin/images/tick.png')}}" alt="Tick" style="display: none"> 
		<img src="{{asset('sf/sf_admin/images/close.png')}}" alt="Close" style="display: block"> 
		{%endif%} 
		<span id="contact-formid_34" class="change_published page" clave="{{object.pageId}}" style="cursor: pointer">
			<img alt="" src="{{asset('images/refresh.png')}}">
		</span>
	</td>
	<td>
	
	<ul class="sf_admin_td_actions" clave="{{object.pageId}}">
		<li class="editar" style="cursor: pointer" onclick="document.location.href='{{ path('proyecto_principal_page_edit', {'id': object.pageId}) }}';">
			Editar</br></br>
		</li>
		<li class="eliminar" style="cursor: pointer">
			Eliminar</br></br>
		</li>
		<li class="traduccion" style="cursor: pointer" onclick="document.location.href='{{ path('proyecto_principal_page_translate', {'id': object.pageId}) }}';">
			Traducción
		</li>
	</ul></td>
</tr>
