{% extends "ProyectoPrincipalBundle:Helpers:baseInterna.html.twig" %}

{%block js%} 
{%endblock%}
{%block contents%} 
<td id="contents"><!-- whole contents -->
<div id="sf_admin_container">
	<h1>{%if accion == 'nuevo'%}{% trans %}Nueva Página{% endtrans %}{%else%} {% trans %}Editar Página{% endtrans %}{%endif%} </h1>
	<div id="sf_admin_header"></div>
	<div id="sf_admin_content">
		<form action="{{ url }}" method="post" {{ form_enctype(form) }}>
			<input type="hidden" name="page_id" id="page_id" value="">
			<fieldset id="sf_fieldset_none" class="">
				<div class="form-row">
					<label for="page_parent_page_id" class="required">{% trans %}Páginas relacionadas{% endtrans %}:</label>
					<div class="content">
						{{ form_widget(form.parentPage) }}
					</div>
				</div>
				<div class="form-row">
					<label for="page_title" class="required">{% trans %}Título{% endtrans %}:</label>
					<div class="content">
						{{ form_widget(form.title, { 'attr': {'size': '80'} }) }}
					</div>
				</div>
				<div class="form-row">
					<label for="page_keywords" class="required">{% trans %}Palabras Clave{% endtrans %} [metatag]:</label>
					<div class="content">
						{{ form_widget(form.keywords, { 'attr': {'size': '80'} }) }}
					</div>
				</div>
				<div class="form-row">
					<label for="page_description_meta" class="required">{% trans %}Descripción{% endtrans %} [metatag]:</label>
					<div class="content">
						{{ form_widget(form.descriptionMeta, { 'attr': {'size': '80'} }) }}
					</div>
				</div>
				<div class="form-row">
					<label for="page_name" class="required">{% trans %}Nombre{% endtrans %}:</label>
					<div class="content">
						{{ form_widget(form.name, { 'attr': {'size': '80'} }) }}
					</div>
				</div>
				<div class="form-row">
					<label for="page_content" class="required">{% trans %}Contenido{% endtrans %}:</label>
					<div class="content">
						<input type="hidden" id="page[content]" name="page[content]" value="{{contenido}}" style="display:none">
						
						<input type="hidden" id="page[content]___Config" value="" style="display:none">
						<iframe id="page[content]___Frame" src="{{asset('js/fckeditor/editor/fckeditor.html?InstanceName=page[content]&amp;Toolbar=Default')}}" width="100%" height="500" frameborder="0" scrolling="no" style="margin: 0px; padding: 0px; border: 0px; background-color: transparent; background-image: none; width: 100%; height: 500px;"></iframe>
					</div>
				</div>
				<div class="form-row">
					<label for="page_upper_text" class="required">{% trans %}Texto Superior{% endtrans %}:</label>
					<div class="content">
						{{ form_widget(form.upperText, { 'attr': {'size': '80'} }) }}
					</div>
				</div>
				<div class="form-row">
					<label for="page_lower_text" class="required">{% trans %}Texto Inferior{% endtrans %}:</label>
					<div class="content">
						{{ form_widget(form.lowerText, { 'attr': {'size': '80'} }) }}
					</div>
				</div>
				<div class="form-row">
					<label for="page_pdf" class="required">{% trans %}Pdf{% endtrans %}:</label>
					<div class="content">
						{{ form_widget(form.file, { 'attr': {'size': '64'} }) }}
						<br>
					</div>
				</div>
				<div class="form-row">
					<label for="page_background_id" class="required">{% trans %}Fondo{% endtrans %}:</label>
					<div class="content">
						{{ form_widget(form.background) }}

					</div>
				</div>
				<div class="form-row">
					<label for="page_media_id" class="required">{% trans %}Imagen{% endtrans %}:</label>
					<div class="content">
						{{ form_widget(form.media, { 'attr': {'class': 'photo_toggle'} }) }}
						<div class="media_container">
							{%for object in media%}
							<div class="media_{{object.id}}" style="display: none;">
								<img alt="{{object.name}}" src="{{ object.getWebPath | apply_filter('my_thumb') }}" style="height: 100px;width: 106px;">
							</div>
							{%endfor%}
						</div>
					</div>
				</div>
				<div class="form-row">
					<label for="page_theme_id" class="required">{% trans %}Tema{% endtrans %}:</label>
					<div class="content">
						{{ form_widget(form.theme, { 'attr': {'class': 'theme_toggle'} }) }}
						<div class="theme_container">
							{%for object in themes%}
							<div class="theme_{{object.id}}" style="background-color: {{object.color}}; display: none;height: 100px;width: 106px;"></div>
							{%endfor%}
						</div>
					</div>
				</div>
				<div class="form-row">
					<label for="page_published">{% trans %}Publicado{% endtrans %}:</label>
					<div class="content">
						{{ form_widget(form.published, { 'attr': {'checked': 'checked'} }) }}
					</div>
				</div>
			</fieldset>
			<ul class="sf_admin_actions">
				<li>
					<input class="sf_admin_action_list" value="{% trans %}Listado{% endtrans %}" type="button" onclick="document.location.href='{{path('proyecto_principal_page_list')}}';">
				</li>
				<li>
					<input type="submit" name="save" value="{%if accion == 'nuevo'%}{% trans %}Guardar{% endtrans %}{%else%}{% trans %}Actualizar{% endtrans %}{%endif%}">
				</li>
			</ul>
		</form>
		<ul class="sf_admin_actions"></ul>
	</div>
	<div id="sf_admin_footer"></div>
</div><!-- end whole contents --></td>
{%endblock%}