<div class="menu-cont">
	<div class="menu">
		<div class="menu-element">
			<a href="{{path('proyecto_front_biografia')}}">BIOGRAFÍA</a>
			{%if menu == 'biografia'%}
			<hr class="men-sel" style="background-color: #ffffff;">
			{%endif%}
		</div>
		<div class="menu-element">
			<a href="{{path('proyecto_front_noticias')}}">NOTICIAS</a>
			{%if menu == 'noticias'%}
			<hr class="men-sel" style="background-color: #ffdd00;">
			{%endif%}
		</div>
		<div class="menu-element">
			<a href="{{path('proyecto_front_carteleraoctubre')}}">CARTELERA OCTUBRE</a>
			{%if menu == 'carteleraoctubre'%}
			<hr class="men-sel" style="background-color: #780e12;">
			{%endif%}
		</div>
		<div class="menu-element">
			<a href="#">PROGRAMACIÓN</a>
			{%if menu == 'programacion'%}
			<hr class="men-sel" style="background-color: #f49401;">
			{%endif%}
		</div>
		<div class="menu-element">
			<a href="{{path('proyecto_front_cursoregular')}}">CURSO REGULAR PARA ACTORES 2013/2014 </a>
			{%if menu == 'cursoregular'%}
			<hr class="men-sel" style="background-color: #ec0052;">
			{%endif%}
		</div>
		<div class="menu-element">
			<a href="{{path('proyecto_front_tallerteatro')}}">TALLER DE TEATRO PARA AFICIONADOS</a>
			{%if menu == 'tallerteatro'%}
			<hr class="men-sel" style="background-color: #780e12;">
			{%endif%}
		</div>
		<div class="menu-element">
			<a href="{{path('proyecto_front_losmartes')}}">LOS MARTES: SUPER QUIZ! </a>
			{%if menu == 'losmartes'%}
			<hr class="men-sel" style="background-color: #bac8d1;">
			{%endif%}
		</div>
		<div class="menu-element spacer"></div>
		<div class="menu-element">
			<a href="{{path('proyecto_front_gastrobar')}}">GASTROBAR LA VICTORIA</a>
			{%if menu == 'gastrobarla'%}
			<hr class="men-sel" style="background-color: #bac8d1;">
			{%endif%}
		</div>
		<div class="menu-element">
			<a href="{{path('proyecto_front_presentanos')}}">PRESÉNTANOS TU PROYECTO</a>
			{%if menu == 'presentanostu'%}
			<hr class="men-sel" style="background-color: #898989;">
			{%endif%}
		</div>
		<div class="menu-element">
			<a href="{{path('proyecto_front_informacion_reservas')}}">INFORMACIÓN Y RESERVAS</a>
			{%if menu == 'informaciony'%}
			<hr class="men-sel" style="background-color: #780e12;">
			{%endif%}
		</div>
		<div class="menu-element">
			<a href="{{path('proyecto_front_reservas_contacto')}}">RESERVAS Y CONTACTO</a>
			{%if menu == 'reservasy'%}
			<hr class="men-sel" style="background-color: #898989;">
			{%endif%}
		</div>
		<div class="designed-menu">
			<div class="designed" style="bottom: 0px;">
				<div>
					<span class="copyrighted">Copyrights © La Victoria</span>
				</div>
				<div>
					<a target="_blank" href="http://realego.es/">Realego ES<!--<img alt="Yeslogo.es" src="./La Victoria_files/white.png">--></a>
				</div>
			</div>
		</div>
	</div>
</div>
