{% extends "ProyectoPrincipalBundle:Helpers2:base.html.twig" %}
{%block inside_login%}
<table cellspacing="0" cellpadding="0" align="right">
	<tbody>
		<tr>
			<td class="lang"><a href="http://www.lavictoriacultural.com/admin.php/pl/"><b>PL</b></a></td>
			<td class="lang"><a href="http://www.lavictoriacultural.com/admin.php/en/"><b>EN</b></a></td>
			<td class="lang">ES</td>
			<td class="small_dots"><img src="{{asset('images/cms_yeslogo_small_dots.jpg')}}" alt="Cms_yeslogo_small_dots"></td>
			<td id="small_letter"><img id="small_font" src="{{asset('images/cms_yeslogo_small_letter.jpg')}}" alt="Cms_yeslogo_small_letter"></td>
			<td id="big_letter"><img id="big_font" src="{{asset('images/cms_yeslogo_big_letter.jpg')}}" alt="Cms_yeslogo_big_letter"></td>
			<td class="small_dots"><img src="{{asset('images/cms_yeslogo_small_dots.jpg')}}" alt="Cms_yeslogo_small_dots"></td>
			<td id="square"><img src="{{asset('images/cms_yeslogo_square.jpg')}}" alt="Cms_yeslogo_square"></td>
			<td id="login_info">ADMIN - TRIFON</td>
			<td class="small_dots"><img src="{{asset('images/cms_yeslogo_small_dots.jpg')}}" alt="Cms_yeslogo_small_dots"></td>
			<td id="logout_ico"><img src="{{asset('images/cms_yeslogo_logout.jpg')}}" alt="Cms_yeslogo_logout"></td>
			<td id="logout"><a class="menu" href="http://www.lavictoriacultural.com/admin.php/es/user/logout">ICerrar sesión!</a></td>
		</tr>
		<tr>
			<td colspan="8" id="view_page"><a class="menu" target="_blank" href="http://lavictoriacultural.com/">Vista previa de la pàgina</a></td>
		</tr>
	</tbody>
</table>
{%endblock%}

{%block inside_menu%}
<div>
	<table cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td class="menu_button_click"><a class="menu" href="./inicio_files/inicio.htm">TU INFORMACIÓN</a></td><td><img src="{{asset('images/cms_yeslogo_big_dots.jpg')}}" alt="Cms_yeslogo_big_dots"></td>
				<td class="menu_button"><a class="menu" href="http://www.lavictoriacultural.com/admin.php/es/page/list">PÀGINAS</a></td><td><img src="{{asset('images/cms_yeslogo_big_dots.jpg')}}" alt="Cms_yeslogo_big_dots"></td>
				<td class="menu_button"><a class="menu" href="http://www.lavictoriacultural.com/admin.php/es/media/list">IMAGENES</a></td><td><img src="{{asset('images/cms_yeslogo_big_dots.jpg')}}" alt="Cms_yeslogo_big_dots"></td>
				<td class="menu_button"><a class="menu" href="http://www.lavictoriacultural.com/admin.php/es/background/list">FONDOS</a></td><td><img src="{{asset('images/cms_yeslogo_big_dots.jpg')}}" alt="Cms_yeslogo_big_dots"></td>
				<td class="menu_button"><a class="menu" href="http://www.lavictoriacultural.com/admin.php/es/news/list">NOTICIAS</a></td><td><img src="{{asset('images/cms_yeslogo_big_dots.jpg')}}" alt="Cms_yeslogo_big_dots"></td>
				<td class="menu_button"><a class="menu" href="http://www.lavictoriacultural.com/admin.php/es/program/list">PROGRAMS</a></td><td><img src="{{asset('images/cms_yeslogo_big_dots.jpg')}}" alt="Cms_yeslogo_big_dots"></td>
				<td class="menu_button"><a class="menu" href="http://www.lavictoriacultural.com/admin.php/es/link/list">LINKS</a></td><td><img src="{{asset('images/cms_yeslogo_big_dots.jpg')}}" alt="Cms_yeslogo_big_dots"></td>
				<td class="menu_button"><a class="menu" href="http://www.lavictoriacultural.com/admin.php/es/setting/list">OPCIONES</a></td>
			</tr>
		</tbody>
	</table>
</div>
<div>
	<table id="submenu" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td class="submenu_button"><a class="menu" href="./inicio_files/inicio.htm">Mostrar Información</a></td>
				<td class="submenu_button"><a class="menu" href="http://www.lavictoriacultural.com/admin.php/es/user/edit">Cambiar Información</a></td>
				<td id="rest">&nbsp;</td>
			</tr>
		</tbody>
	</table>
</div>
{%endblock%}

{%block contents%} <td id="contents" style="height: 452px;"><!-- whole contents -->
<table cellpadding="0" cellspacing="0" class="mytable">
	<tbody>
		<tr>
			<th colspan="2">Información</th>
		</tr>
		<tr>
			<td>ID:</td>
			<td>2</td>
		</tr>
		<tr>
			<td colspan="2" class="form_line"><div class="linebg"></div></td>
		</tr>
		<tr>
			<td>Inicia Sesión:</td>
			<td>TRIFON</td>
		</tr>
		<tr>
			<td colspan="2" class="form_line"><div class="linebg"></div></td>
		</tr>
		<tr>
			<td>Correo Electrónico:</td>
			<td></td>
		</tr>
	</tbody>
</table><!-- end whole contents --></td>
{%endblock%}