<!DOCTYPE html>
<html lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="robots" content="INDEX, FOLLOW">
	<title>La Victoria</title>
	<link rel="shortcut icon" href="{{ asset('favicon2.ico') }}">
	<script type="text/javascript" src="{{ asset('js/jquery-1.7.2.min.js') }}"></script><style type="text/css"></style>
	<script type="text/javascript" src="{{ asset('js/jquery.mousewheel-3.0.4.pack.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery.jscrollpane.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery.backstretch.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/scrollable.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery.nivo.slider.pack.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/page_function.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/lightbox.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/generales.js') }}"></script>
	<script src="{{ asset('SlickNav/jquery.slicknav.min.js') }}"></script>
	
	<script>
	{%block imagenes%}
	
	{%endblock%}
	var paginacionNoticias = '{{path('proyecto_front_page_pagina_noticias')}}';
	var paginacionCartelera = '{{path('proyecto_front_page_pagina_cartelera')}}';
	var paginacionTalleres = '{{path('proyecto_front_page_pagina_talleres')}}';
	var paginacionCalendario = '{{path('proyecto_front_page_pagina_calendario')}}';

	</script>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/style.css') }}">
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/jquery.jscrollpane.css') }}">
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/lightbox.css') }}">
	<link rel="stylesheet" href="{{ asset('SlickNav/slicknav.css') }}" />
</head>

	{%block body%}
	{%endblock%}
</html>