<tr class="sf_admin_row_{%if loop.index %2 ==0%}0{%else%}1{%endif%}">
	<td>{{object.id}}</td>
	<td>{{object.name|title}}</td>
	<td>{{object.value|title}}</td>
	<td>{{object.dateCreated}}</td>

	<td>
	<ul class="sf_admin_td_actions" clave="{{object.id}}">
		<li class="editar" style="cursor: pointer" onclick="document.location.href='{{ path('proyecto_principal_setting_edit', {'id': object.id}) }}';">
			{% trans %}Editar{% endtrans %}</br></br>
		</li>
		<!--<li class="traduccion" style="cursor: pointer" onclick="document.location.href='#';">
			Traducción
		</li>-->
	</ul>
	</td>
</tr>
