{% extends "ProyectoPrincipalBundle:Helpers:baseInterna.html.twig" %}

{%block js%} 
{%endblock%}
{%block contents%} 
<td id="contents"><!-- whole contents -->
<div id="sf_admin_container">
	<h1>{{menu.subseccion|trans}}</h1>
	<div id="sf_admin_header"></div>
	<div id="sf_admin_content">
		<form action="{{ url }}" method="post" {{ form_enctype(form) }}>
			<input type="hidden" name="page_id" id="page_id" value="">
			<fieldset id="sf_fieldset_none" class="">
				<div class="form-row">
					<label for="page_title" class="required">{% trans %}Nombre{% endtrans %}:</label>
					<div class="content">
						{{ form_widget(form.name, { 'attr': {'size': '80'} }) }}
					</div>
				</div>
				<div class="form-row">
					<label for="page_description_meta" class="required">{% trans %}WWW{% endtrans %}:</label>
					<div class="content">
						{{ form_widget(form.www, { 'attr': {'size': '80'} }) }}
					</div>
				</div>
				<div class="form-row">
					<label for="page_published">{% trans %}Abrir en una nueva ventana del navegador{% endtrans %}:</label>
					<div class="content">
						{{ form_widget(form.newWindow, { 'attr': {'checked': 'checked'} }) }}
					</div>
				</div>
				<div class="form-row">
					<label for="page_published">{% trans %}Publicado{% endtrans %}:</label>
					<div class="content">
						{{ form_widget(form.published, { 'attr': {'checked': 'checked'} }) }}
					</div>
				</div>
			</fieldset>
			<ul class="sf_admin_actions">
				<li>
					<input class="sf_admin_action_list" value="{% trans %}Listado{% endtrans %}" type="button" onclick="document.location.href='{{path('proyecto_principal_link_list')}}';">
				</li>
				<li>
					<input type="submit" name="save" value="{%if accion == 'nuevo'%}{% trans %}Guardar{% endtrans %}{%else%}{% trans %}Actualizar{% endtrans %}{%endif%}">
				</li>
			</ul>
		</form>
		<ul class="sf_admin_actions"></ul>
	</div>
	<div id="sf_admin_footer"></div>
</div><!-- end whole contents --></td>
{%endblock%}