<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0034)http://www.lavictoriacultural.com/ -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="robots" content="INDEX, FOLLOW">
		<meta name="language" content="es">
		<title>La Victoria</title>
		<!--<link rel="shortcut icon" href="http://www.lavictoriacultural.com/images/site/favicon/" type="image/x-icon">-->
		<script type="text/javascript" src="{{ asset('js/jquery-1.7.2.min.js') }}"></script><style type="text/css"></style>
		<script type="text/javascript" src="{{ asset('js/jquery.mousewheel-3.0.4.pack.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery.jscrollpane.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery.backstretch.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/scrollable.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery.nivo.slider.pack.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/page_function.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/lightbox.js') }}"></script>
		<script>
			var images = ["http://www.lavictoriacultural.com/uploads/background/bd9b29e7d7880a75224f0f962f76ced3.jpg", 
			"http://www.lavictoriacultural.com/uploads/background/335512c1b16dee1008ded0ae789d02f4.jpg", 
			"http://www.lavictoriacultural.com/uploads/background/87ebb9282129e44dc3fb28cec9891d88.jpg", 
			"http://www.lavictoriacultural.com/uploads/background/11fdbfaabc2405f38c3f50bd6e36033c.jpg", 
			"http://www.lavictoriacultural.com/uploads/background/4e24e6be914d00db152584d50f64769b.jpg", 
			"http://www.lavictoriacultural.com/uploads/background/b2d94347b44bfa556b1e3900b5f0c6dd.jpg", 
			"http://www.lavictoriacultural.com/uploads/background/4bba2d019d2747797b79d464eb24c272.jpg"];

		</script>
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/style.css') }}">
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/jquery.jscrollpane.css') }}">
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/lightbox.css') }}">

	</head>
	<body screen_capture_injected="true" style="">
		<div class="share-cont">
			<div class="share-fb">
				<a target="_blank" title="On Facebook" href="https://www.facebook.com/pages/Espacio-Cultural-La-Victoria-Sala-Samotracia/287170691352664"> </a>
			</div>
			<div class="share-tw">
				<a target="_blank" title="On Twitter" href="https://twitter.com/EC_LaVictoria"> </a>
			</div>
			<div class="share-in">
				<a target="_blank" title="On LinkedIn" href="http://www.linkedin.com/company/LaVictoria"> </a>
			</div>
		</div>
		<div class="main-tab">
			<div class="main-row" style="height: 766px;">
				<div class="cell-left"></div>
				<div class="cell-middle cell-main">
					<div class="middle-tab">
						<div class="lang-cont">
							<div class="lang-sel">
								ES
							</div>
							<div class="lang">
								<a title="home-page-en" href="http://www.lavictoriacultural.com/en/">EN</a>
							</div>
						</div>
						<div class="middle-row">
							<div class="middle-left">
								<div class="logo">
									<a title="Home page" href="http://www.lavictoriacultural.com/es/"> </a>
								</div>
								<div class="menu-cont">
									<div class="menu">
										<div class="menu-element">
											<a href="http://www.lavictoriacultural.com/es/pagina/3/biograf-a.html">BIOGRAFÍA</a>
										</div>
										<div class="menu-element">
											<a href="http://www.lavictoriacultural.com/es/pagina/1/noticias.html">NOTICIAS</a>
										</div>
										<div class="menu-element">
											<a href="http://www.lavictoriacultural.com/es/pagina/31/cartelera-octubre.html">CARTELERA OCTUBRE</a>
										</div>
										<div class="menu-element">
											<a href="http://www.lavictoriacultural.com/es/pagina/2/programacion.html">PROGRAMACIÓN</a>
										</div>
										<div class="menu-element">
											<a href="http://www.lavictoriacultural.com/es/pagina/30/curso-regular-para-actores-2013-2014.html">CURSO REGULAR PARA ACTORES 2013/2014 </a>
										</div>
										<div class="menu-element">
											<a href="http://www.lavictoriacultural.com/es/pagina/32/taller-de-teatro-para-aficionados.html">TALLER DE TEATRO PARA AFICIONADOS</a>
										</div>
										<div class="menu-element">
											<a href="http://www.lavictoriacultural.com/es/pagina/33/los-martes-super-quiz-.html">LOS MARTES: SUPER QUIZ! </a>
										</div>
										<div class="menu-element spacer"></div>
										<div class="menu-element">
											<a href="http://www.lavictoriacultural.com/es/pagina/9/gastrobar-la-victoria.html">GASTROBAR LA VICTORIA</a>
										</div>
										<div class="menu-element">
											<a href="http://www.lavictoriacultural.com/es/pagina/10/pres-ntanos-tu-proyecto.html">PRESÉNTANOS TU PROYECTO</a>
										</div>
										<div class="menu-element">
											<a href="http://www.lavictoriacultural.com/es/pagina/29/informacion-y-reservas.html">INFORMACIÓN Y RESERVAS</a>
										</div>
										<div class="menu-element">
											<a href="http://www.lavictoriacultural.com/es/pagina/14/reservas-y-contacto.html">RESERVAS Y CONTACTO</a>
										</div>
										<div class="designed-menu">
											<div class="designed" style="bottom: 0px;">
												<div>
													<span class="copyrighted">Copyrights © La Victoria</span>
												</div>
												<div>
													<a target="_blank" href="http://realego.es/">Realego ES<!--<img alt="Yeslogo.es" src="./La Victoria_files/white.png">--></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="middle-right-sub">
								<div class="top-main-text">
									<div class="top-main-big">
										LA VICTORIA
									</div>
									<div class="top-main-small">
										ESPACIO CULTURAL
									</div>
								</div>
								<div class="main-big-text">
									<p>
										ESPACIO
										<br>
										CULTURAL
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cell-right-sub"></div>
			</div>
		</div>
		<div id="culture">
			es
		</div>
		<!--
		<div id="lightboxOverlay" style="display: none;"></div>
		<div id="lightbox" style="display: none;">
			<div class="lb-outerContainer">
				<div class="lb-container"><img class="lb-image">
					<div class="lb-nav">
						<a class="lb-prev"></a><a class="lb-next"></a>
					</div>
					<div class="lb-loader">
						<a class="lb-cancel"><img src="{{ asset('images/loading.gif') }}"></a>
					</div>
				</div>
			</div>
			<div class="lb-dataContainer">
				<div class="lb-data">
					<div class="lb-details">
						<span class="lb-caption"></span><span class="lb-number"></span>
					</div>
					<div class="lb-closeContainer">
						<a class="lb-close"><img src="{{ asset('images/close.png') }}"></a>
					</div>
				</div>
			</div>
		</div>
		-->
		<div id="backstretch" style="left: 0px; top: 0px; position: fixed; overflow: hidden; z-index: -999999; margin: 0px; padding: 0px; height: 716.65625px; width: 1349px;"><img src="{{ asset('lavictoriafiles/bd9b29e7d7880a75224f0f962f76ced3.jpg') }}" style="position: absolute; margin: 0px; padding: 0px; border: none; z-index: -999999; width: 1349px; height: 716.65625px; left: 0px; top: -46.328125px;">
		</div>
		<div style="position: fixed; margin: 0px; padding: 0px; z-index: 999999; top: 0px; right: 0px; display: none;">
			<div id="default-tab-outer-wrapper">
				<div class="default-tab-inner-wrapper">
					<a href="javascript:void(0);" class="default-tab-button-up"> <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="> </a>
					<div class="default-tab-container-wrapper">
						<a href="javascript:void(0);" class="default-tab-button-list"> <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" style="background-image: url(http://assets.defaulttab.com/search_here.ico); background-position: 2px 0px; background-repeat: no-repeat no-repeat;"> </a>
						<input class="DefaultTab_Search_Results_main_search_box_injection_search_text_input DefaultTab_Search_Results_main_search_box_injection_search_text_input_default_text ui-autocomplete-input" type="text" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
					</div>
				</div>
			</div>
		</div>
		<ul class="DefaultTab_Search_Results_search_engines_menu ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="width: 200px; position: absolute; z-index: 999999; display: none;">
			<li class="ui-menu-item" role="menuitem" style="vertical-align: middle;">
				<a href="http://www.lavictoriacultural.com/#" class="ui-corner-all" tabindex="-1" style="font-size: 1px; text-align: left;"><em style="float: left; width: 16px; height: 16px; margin-right: 5px; background-image: url(http://assets.defaulttab.com/search_here.ico);"></em><font style="font: 12px Arial !important; color:black !important;">Search Here</font></a>
			</li>
			<li class="ui-menu-item" role="menuitem" style="vertical-align: middle;">
				<a href="http://www.lavictoriacultural.com/#" class="ui-corner-all" tabindex="-1" style="font-size: 1px; text-align: left;"><em style="float: left; width: 16px; height: 16px; margin-right: 5px; background-image: url(http://assets.defaulttab.com/facebook.ico);"></em><font style="font: 12px Arial !important; color:black !important;">Facebook</font></a>
			</li>
			<li class="ui-menu-item" role="menuitem" style="vertical-align: middle;">
				<a href="http://www.lavictoriacultural.com/#" class="ui-corner-all" tabindex="-1" style="font-size: 1px; text-align: left;"><em style="float: left; width: 16px; height: 16px; margin-right: 5px; background-image: url(http://assets.defaulttab.com/amazon.ico);"></em><font style="font: 12px Arial !important; color:black !important;">Amazon</font></a>
			</li>
			<li class="ui-menu-item" role="menuitem" style="vertical-align: middle;">
				<a href="http://www.lavictoriacultural.com/#" class="ui-corner-all" tabindex="-1" style="font-size: 1px; text-align: left;"><em style="float: left; width: 16px; height: 16px; margin-right: 5px; background-image: url(http://assets.defaulttab.com/wikipedia.ico);"></em><font style="font: 12px Arial !important; color:black !important;">Wikipedia</font></a>
			</li>
			<li class="ui-menu-item" role="menuitem" style="vertical-align: middle;">
				<a href="http://www.lavictoriacultural.com/#" class="ui-corner-all" tabindex="-1" style="font-size: 1px; text-align: left;"><em style="float: left; width: 16px; height: 16px; margin-right: 5px; background-image: url(http://assets.defaulttab.com/twitter.ico);"></em><font style="font: 12px Arial !important; color:black !important;">Twitter</font></a>
			</li>
			<li class="ui-menu-item" role="menuitem" style="vertical-align: middle;">
				<a href="http://www.lavictoriacultural.com/#" class="ui-corner-all" tabindex="-1" style="font-size: 1px; text-align: left;"><em style="float: left; width: 16px; height: 16px; margin-right: 5px; background-image: url(http://assets.defaulttab.com/ebay.ico);"></em><font style="font: 12px Arial !important; color:black !important;">eBay</font></a>
			</li>
		</ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 1000000; top: 0px; left: 0px; display: none;"></ul>
	</body>
</html>