{% extends "ProyectoFrontBundle:Helpers:body.html.twig" %}

{%block contenido%}
<div class="page-header">
	<h1>Contacto</h1>
</div>
<div class="row">
	<!-- Left part -->
	<div class="span6">
		<h2><span >Env&iacute;a</span> tu mensaje</h2>
		<p>
			¿Tienes alguna solicitud, inquietud, queja o sugerencia? No dudes en contactarnos, en un m&aacute;ximo de 48 horas te responderemos.
		</p>
		{%if usuario is null%}
		<p>
			Si desea utilizar nuestro sistema para ver el estado de sus peticiones, no olvide <a href="{{ path('proyecto_front_registro') }}">registrar su usuario</a> e iniciar sesi&oacute;n con anterioridad.
		</p>
		{%endif%}
		<div id="note"></div>
		<div id="fields" class="contact-form">
			<form id="ajax-contact-form" action="{{ path('proyecto_front_contacto') }}" method="post" {{ form_enctype(form) }}>
				<div class="controls controls-row">
					{{ form_widget(form.nombre, { 'attr': {'class': 'span3', 'placeholder':'Nombre (requerido)'} }) }}
					{{ form_widget(form.email, { 'attr': {'class': 'span3', 'placeholder':'Email (requerido)'} }) }}
				</div>
				<div class="controls controls-row">
					{{ form_widget(form.categoria, { 'attr': {'class': 'span6'} }) }}
				</div>
				<div class="controls controls-row">
					{{ form_widget(form.mensaje, { 'attr': {'class': 'span6', 'placeholder':'Escriba su mensaje aquí...', 'rows':'10'} }) }}
				</div>
				<div class="controls controls-row">
					{{ form_widget(form.file) }}
				</div>
				<input type="submit" class="btn btn-large color-bg" name="submit" value="Enviar">
				<div style="display: none">
							{{ form_rest(form) }}
				</div>
			</form>
		</div><!--/contact-form-->
	</div>
	<!--/Left part -->
	<!-- Right part -->
	<div class="span6">
		<section>
			<address>
				<strong>Oficinas</strong>
				<br>
				<i class="icon-home marR10" pop="Address"></i> Centro Comercial Plaza Guarapiche, Nivel 3, Maturin, Monagas, Venezuela.
				<br>
				<i class="icon-phone marR10" pop="Phone"></i> (123) 456-7890
				<br>
				<i class="icon-time marR10" pop="Time"></i> Lunes. - Viernes. 09:00 AM - 05:00 PM
				<br>
				<i class="icon-envelope-alt marR10" pop="E-mail"></i><a href="mailto:#">first.last@gmail.com</a>
			</address>
		</section>
		
		<div class="map-container">
			<div class="dummy"></div>
			<div class="element">
				<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=9.74573,-63.178308&amp;num=1&amp;t=m&amp;ie=UTF8&amp;ll=9.74573,-63.178307&amp;spn=0.005541,0.010568&amp;z=16&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=9.74573,-63.178308&amp;num=1&amp;t=m&amp;ie=UTF8&amp;ll=9.74573,-63.178307&amp;spn=0.005541,0.010568&amp;z=16&amp;source=embed" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
				</div>
		</div>
	</div>
	<!--/Right part -->
</div>
{%endblock%} 