{% extends "ProyectoFrontBundle:Helpers:body.html.twig" %}

{%block imagenes%}
var images = ["{{asset('uploads/background/61f221d0752c06e3a7c0406a30266f2d.jpg')}}"];

{%endblock%}

{%block contenido%}
<div class="middle-right-sub">
	<div class="middle-right-sub-back">
		<div class="black-top"></div>
		<div>
			<div class="black-top-left"></div>
			<div class="black-top-right"></div>
		</div>
		<div class="black-middle"></div>
		<div>
			<div class="black-middle-left"></div>
			<div class="black-middle-right"></div>
		</div>
		<div class="black-bottom" style="height: 766px;"></div>
	</div>
	<div class="top-main-text">
		<div class="top-main-big">
			LA VICTORIA
		</div>
		<div class="top-main-small">
			ESPACIO CULTURAL
		</div>
	</div>
	<div class="upper-text" style="background-color: #898989 !important"></div>
	<div class="content-cont">
		<p class="content-title">
			RESERVAS Y CONTACTO
		</p>
		<div class="content scroll-8 jspScrollable" id="scroll-me" style="overflow: hidden; padding: 0px; width: 410px;" tabindex="0">
			<div class="jspContainer" style="width: 410px; height: 180px;">
				<div class="jspPane" style="padding: 0px 10px 0px 0px; width: 371px; top: 0px;">
					<p><img src="{{asset('uploads/image/Sala%20Samotracia/LogoNew2.jpg')}}" width="380" height="96" alt="">
						<br>
						<br>
						<br>
						<strong>Espacio Cultural La Victoria | Sala Samotracia
						<br>
						</strong>C/ Santa Isabel, 40
						<br>
						CP.: 28012 | Madrid | España
					</p>
					<p>
						<br>
						<strong>&lt;Metro&gt;</strong>: Antón Martín, Atocha, Lavapiés
						<br>
						<span style="color: rgb(128, 0, 0);"><strong><a href="https://maps.google.com/maps?q=parking+loc:+Calle+de+Santa+Isabel,+40,+28012+Madrid,+Espa%C3%B1a&amp;hl=es&amp;ie=UTF8&amp;ll=40.414672,-3.694839&amp;spn=0.034243,0.084543&amp;sll=40.420423,-3.694839&amp;sspn=0.03424,0.084543&amp;geocode=CXpo4IPu8RiwFaScaAId65PH_ymlIV5-KSZCDTE1pRAh2Hx5cw&amp;hq=parking&amp;t=m&amp;z=14"><span style="color: rgb(128, 0, 0);">Parkings más próximos</span></a></strong></span>
						<br>
						<strong>
						<br>
						<br>
						</strong>
					</p>
					<p>
						<span style="color: rgb(128, 0, 0);"><strong><a href="http://www.atrapalo.com/entradas/espacio-cultural-la-victoria-sala-samotracia_l21098/"><span style="color: rgb(128, 0, 0);">Reservas en Atrápalo</span>
							<br>
							<img src="{{asset('uploads/image/Sala%20Samotracia/mq1.png')}}" width="100" height="100" alt="">
							<br type="_moz">
							</a></strong></span>
					</p>
					<p>
						&nbsp;
					</p>
					<p>
						<strong>Teléfonos para información y reservas en la propia sala</strong>: 618506681 y 915286457<span style="font-size: 12px;">
							<br>
						</span><strong>Email para reservas</strong>: <strong><span style="color: rgb(255, 0, 0);"><a href="javascript:location.href='mailto:'+String.fromCharCode(101,115,112,97,99,105,111,108,97,118,105,99,116,111,114,105,97,64,103,109,97,105,108,46,99,111,109)+'?'"><span style="color: rgb(255, 0, 0);">espaciolavictoria@gmail.com
								<br>
							</span></a></span></strong><strong>Propuestas de espectáculos e información de la sala:</strong>&nbsp;<strong><span style="color: rgb(255, 0, 0);"><a href="javascript:location.href='mailto:'+String.fromCharCode(101,115,112,97,99,105,111,99,117,108,116,117,114,97,108,108,97,118,105,99,116,111,114,105,97,64,103,109,97,105,108,46,99,111,109)+'?'"><span style="color: rgb(255, 0, 0);">espacioculturallavictoria@gmail.com
								<br>
							</span></a></span></strong><strong>Comunicación y prensa:</strong><span style="color: rgb(255, 0, 0);"><strong>&nbsp;</strong></span><span style="color: rgb(255, 0, 0);"><a href="javascript:location.href='mailto:'+String.fromCharCode(116,114,102,46,99,111,109,117,110,105,99,97,99,105,111,110,64,103,109,97,105,108,46,99,111,109)+'?'"><span style="color: rgb(255, 0, 0);"><strong>trf.comunicacion@gmail.com</strong></span></a>
							<br>
						</span>
					</p>
					<div>
						<span style="color: rgb(255, 0, 0);">
							<br>
						</span>
					</div>
					<div>
						&nbsp;
					</div>
					<p>
						&nbsp;
					</p>
				</div>
				<div class="jspVerticalBar">
					<div class="jspCap jspCapTop"></div>
					<div class="jspTrack" style="height: 180px;">
						<div class="jspDrag" style="height: 9px;">
							<div class="jspDragTop"></div><div class="jspDragBottom"></div>
						</div>
					</div><div class="jspCap jspCapBottom"></div>
				</div>
			</div>
		</div>
		<div class="lower-text">
			<div class="inside-cont">
				<div class="inside">
					<a title="Dossier prensa" target="_blank" href="{{asset('uploads/pdf/112fc682bee9e3c6b6e7b5ebbe3cf4fa.pdf')}}">DOSSIER PRENSA</a>
				</div>
			</div>
		</div>
		<div class="lower-box"></div>
		<div class="content-image-contact">
			<div class="image">
				<img alt="La Victoria" src="{{asset('images/site/contacto_ico.png')}}">
			</div>
		</div>
	</div>
	<div class="main-big-title">
		<div class="theme-sel-8">
			Reservas y Contacto
		</div>
	</div>
</div>
{%endblock%}

{%block celda%} <div class="cell-right-sub"></div>
            <div class="map">
                
                <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.pl/maps?hl=pl&amp;ie=UTF8&amp;ll=40.409040,-3.701783&amp;spn=0.00638,0.016512&amp;t=m&amp;z=17&amp;output=embed"></iframe>
            </div>
{%endblock%} 